body {
  background-color: #61dafb;
}

.input{
  text-align: center;
}

.buttomAdd{
  text-align: center;
}

.userDate{
  text-align: center;
  border-style: solid ;
  padding-right : "20%" !important;
}

.adduser{
  text-align: center;
  border-style: solid;
  width : "300px"  !important;
  padding-right : "20%" !important;
}

.Search{
  text-align: center;
  padding-right: "100px" !important;
}

.SearchCity{
  margin-right: "200px"!important;
  text-align: center;
}

